<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <%= column_chart @income,
                        xtitle: t("chart.month"), ytitle: t("chart.moneys"), title: I18n.t("chart.title_icome"),
                        download: {background: "#ffffff"}, messages: {empty: t("chart.no_data")}%>
                </div>
            </div>
        </div>
     </div>
</div>
</br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <%= column_chart @expenses,
                        xtitle: t("chart.month"), ytitle: t("chart.moneys"), title: I18n.t("chart.title_expenses"),colors: ["#b00", "#666"],
                        download: {background: "#ffffff"}, messages: {empty: t("chart.no_data")}%>
                </div>
            </div>
        </div>
     </div>
</div>
