<% provide :title, t("edit.title") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= return render "upgrade_form" if current_user.user? %>
    <h1> Your account already upgrade </h1>
  </div>
</div>
