<table class="table table-bordered">
  <tr class="bg-primary">
    <th class="text-center" colspan="6"><%= t ".expenses_table"%></td>
  </tr>
  <%= render "header_table" %>
  <%= render(partial: "plan", collection: @plans.expenses) || t(".no_data_display") %>
</table>
