<div id="total_moneys" class="col-md-10 col-lg-offset-1">
  <%= render "plans/total_table" %>
</div>

<div>
  <h1 class="col-md-10 col-lg-offset-1 text-center"><%= t ".plan_list" %></h1>
</div>
<div id="expenses" class="col-md-10 col-lg-offset-1">
  <%= render "plans/expenses" %>
</div>
<div id="income" class="col-md-10 col-lg-offset-1">
  <%= render "plans/income" %>
</div>
